{% extends 'StrayPaws.html' %}
{% block title %} Adoption Information{% endblock %}
{% block content %}
<main>
   <div class="contact">
      <h2>Adoption Information</h2>
      <br><br>
      <div class="contact_container">
         <h3>Adoption Process</h3>
         <img class="adoption_graphic" alt="Stray Paws -- Adoption Process" src="/images/adoption-process.jpg">
         <div class="adoption_information2">
            <p>A volunteer will review your application to ensure the dog or cat you have chosen is a good fit for your family. We receive multiple applications for the same dog or cat and it is our intent to ensure the best placement for both you and the dog or cat. If we feel the dog or cat you are interested in will not be the right fit, we are always happy to work with you to find the perfect addition to your family. </p>
            <br>
            <p>After reviewing your application we will speak to your veterinarian to confirm your current and previous pets are up to date on vaccinations and have been on regular heartworm preventative. We will also contact your references.</p>
            <br>
            <p>Approved applicants will receive a phone call or text from our coordinator/volunteer to set up a meet & greet. We will then bring the dog or cat to your home to ensure this is a good fit for ALL family members (including other pets and children if you have them.)</p>
         </div>
      </div>
   </div>
   <br><br><br>
   <div class="contact_outer">
      <div class="contact_container">
         <h3>Adoption Cost</h3>
         <div class="adoption_information">
            All adoption fees are payable the day the contract is finalized.
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            Puppies 6 months and younger - $300.00
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            Young adults 7 months-6 years - $250.00
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            Adults-Seniors 7 years+ - $175.00
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            Cats 7 months and older - $100
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            Kittens 2 months to 6 months - $150 or $275 for a pair
         </div>
      </div>
   </div>
   <br><br><br>
   <div class="contact_outer">
      <div class="contact_container">
         <h3>Adoption Requirements</h3>
         <div class="adoption_information">
            <p>By submitting this application there is no guarantee that we will place a dog or cat with you.</p>
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            PLEASE use your LEGAL NAME on applications; using a nickname could cause your application to be denied
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            We only adopt to families within 50 miles of St. Louis, MO .
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            Applicants must be at least 20 years old.
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            Household pets must be up-to-date on vaccinations and spayed or neutered unless your vet can provide a medical reason they are not.
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            Any applicant found to be lying on their application will be denied.
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            We are a foster based rescue, you must have an approved application in order to arrange a time to meet the animal.
            <br><br>
            <img class="pawprint" alt="paw print" src="/images/blue-pawprint.png">
            NOTE: If you have a common last name, please provide your middle name or initial to expedite processing of your application; applies to all applications (cat adoption, dog adoption, foster or volunteers too). Thank You
         </div>
      </div>
   </div>
   </div>
</main>
{% endblock %}
