{% extends 'StrayPaws.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
<main>
   <div class="contact">
      <h2>Contact Information</h2>
      <br><br>
      <div class="contact_outer">
         <img class="contact_pawprint" alt="paw print" src="/images/blue-pawprint.png">
         <div class="contact_container">
            <h3>Write us </h3>
            Stray Paws Rescue<br>
            7055 Mexico Rd. Box 1663<br>
            St. Peters, MO 63376
         </div>
      </div>
      <br><br>
      <div class="contact_outer">
         <img class="contact_pawprint" alt="paw print" src="/images/blue-pawprint.png">
         <div class="contact_container">
            <h3>Call us </h3>
            (314) 254-3466
         </div>
      </div>
      <br><br>
      <div class="contact_outer">
         <img class="contact_pawprint" alt="paw print" src="/images/blue-pawprint.png">
         <div class="contact_container">
            <h3>Email us </h3>
            <a href="mailto:straypawsrescuestl@gmail.com">straypawsrescuestl@gmail.com</a>
         </div>
      </div>
      <br><br>
      <div class="contact_outer">
         <img class="contact_pawprint" alt="paw print" src="/images/blue-pawprint.png">
         <div class="contact_container">
            <h3>Hours of Operation</h3>
            8am - 5pm Monday thru Saturday
         </div>
      </div>
      <br><br>
      <div class="contact_outer">
         <img class="contact_pawprint" alt="paw print" style="margin-bottom:12rem;" src="/images/red-pawprint.png">
         <div class="contact_container">
            <h3>EMERGENCY CONTACT INFORMATION</h3>
            <div class="emergency"><span>EMERGENCIES</span> Please leave a voice message at (314) 254-3466 and someone will get back to you as soon as we can(**as we are run by volunteers**) or you can email us at straypawsrescuestl@gmail.com, please put <span>EMERGENCY</span> in the subject line of your email. Thank you - Stray Paws Rescue St. Louis Team</div>
         </div>
      </div>
   </div>
</main>
{% endblock %}
