{% extends 'StrayPaws.html' %}
{% block title %} News & Events {% endblock %}
{% block content %}
<main>
   <img alt="Bingo" class="banner" src="https://media.discordapp.net/attachments/746552826070564865/1139009946520920204/IMG_2697.jpg?width=669&height=669">
   <br><br>
   <h2>⏰🗓️ SAVE THE DATE 🗓️⏰</h2>
   <br>
   <p>It’s time to reserve your tables for this years Stray Paws Rock n’ Roll Bingo! Get ready for a night of drinks, raffles, bingo, and a 60s themed costume contest—ALL while supporting your local rescue 🐶♥️</p>
   <br>
   <p><b>EARLY BIRD SPECIAL NOW THROUGH SEPTEMBER 15th:</b> $30 a person, $240 a table (8 person tables)</p>
   <p>After September 15th: $35 a person, $280 a table</p>
   <p>Your ticket includes UNLIMITED draft beer and soda + a cash bar with wine and mixed drinks! </p>
   <p><b>NO OUTSIDE ALCOHOL ALLOWED IN</b></p>
   <br><br>
   <ul style="margin-top:0px;">
      <li>
         ⏰ <b>WHEN:</b>Friday December 1st, 2023
         Doors open at 6pm, Bingo begins at 7pm
      </li>
      <li>
         📍<b> WHERE:</b>300 O’Fallon Plaza, O’Fallon MO
      </li>
      <li>🎟️<b> To reserve seats/tables:</b>
         <a href="https://www.straypawsrescue.com/donate">Click here: </a>
         (we have paypal, venmo, cash app, and credit card options) and list “Bingo—Your name(s)” as the note.
      </li>
   </ul>
   <br>
   <p>We can’t wait to see you there!</p>
   <p>#adoptdontshop #rescuedismyfavoritebreed #fostersneeded #fosteringsaveslives #stlouis #stldogs #dogsofstl #whosavedwho #straypawsrescue #SPRstrong #fundraiser #donatefordogs #donateforacause</p>
   <br><br>
   <h2>News & Events</h2>
   <iframe src="https://calendar.google.com/embed?src=straypawsrescuestlevents%40gmail.com&ctz=America%2FChicago" style="border:0" width="95%" aspect-ratio:" 1/1" height="500px" frameborder="0" scrolling="no"></iframe>
   </div>
</main>
{% endblock %}
